#productInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  height: 250px;
  margin: 10px;
  padding: 48px;

  background-color: #99bad981;
  border-radius: 5px;
}

#productInputs input {
  width: 100%;
  margin: 5px;
  padding: 4px;

  font-size: large;

  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#productInputs button {
  background-color: rgb(54, 147, 58);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
}
