#relatedProducts {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff4b;
}

#relatedProducts h1 {
  font-weight: 300;
}

#relatedProducts hr {
  margin: 20px 0;
  width: 190px;
  height: 2px;

  background-color: black;
}

#relatedProducts-items {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: #ffffff4b;
}
