#item {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

#item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

#item:active {
  transform: scale(0.98);
}

#item #description {
  padding: 0 10px;
}

#item img {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  #item {
    width: 300px;
  }

  #item img {
    height: 400px;
    width: 300px;
  }
}
