#offers {
  background: linear-gradient(
    to right,
    rgba(218, 19, 19, 0.5),
    rgba(255, 91, 247, 0.5)
  );

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

  padding: 20px;
  margin: 40px;

  border-radius: 10px;
}

#offers img {
  width: 30vh;
  height: 30vh;

  object-fit: cover;
}

#offers button {
  background-color: #e54343;
  color: #fff;
  border: none;
  border-radius: 30px;

  padding: 10px 45px;
}
