#offers {
  background: linear-gradient(
    to right,
    rgba(218, 19, 19, 0.5),
    rgba(255, 91, 247, 0.5)
  );

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

  padding: 20px;
  margin: 40px;

  border-radius: 10px;
}

#offers img {
  width: 30vh;
  height: 30vh;

  object-fit: cover;
}

#offers button {
  background-color: #e54343;
  color: #fff;
  border: none;
  border-radius: 30px;

  padding: 10px 45px;

  font-size: large;
}

#offers button:hover {
  background-color: #e54343b3;
}

#offers button:active {
  background-color: #e54343;
}

#offers button:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  #offers img {
    width: 48vh;
    height: 40vh;
  }

  #offers button {
    padding: 20px 50px;
  }

  #offers {
    margin: 20px;
  }
}
