.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px 0 50px;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar .nav-menu li {
  margin-right: 30px;
  cursor: pointer;
}

.navbar .nav-menu hr {
  border: 1px solid #bf1d1d;
}

.nav-login {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login .cart:hover {
  color: #bf1d1d;
}

.nav-login button {
  background-color: #4b9dd3;
  color: #fff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.nav-login button:hover {
  background-color: #3e7faa;
}

.nav-login button:active {
  background-color: #4b9dd3;
}

.nav-cart {
  font-size: 29px;
}

.nav-cart-count {
  background-color: #ce1c1c;
  color: #fff;
  border-radius: 50%;
  padding: 1.5px 5.5px;
  font-size: 12px;
  position: absolute;
  right: 38px;
  top: 19px;
}

a {
  text-decoration: none;
  color: #000;
}

.navbar img {
  width: 130px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px 0 20px;
  }

  .nav-menu {
    display: none;
    padding: 0;
  }

  .nav-login {
    display: none;
  }

  .nav-cart {
    display: none;
  }

  .nav-cart-count {
    display: none;
  }

  .navbar img {
    display: none;
  }
}

#signOutBtn {
  background-color: #bd544b;
  font-size: large;
  color: white;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

#signOutBtn:hover {
  background-color: #a04a41;
}

#signOutBtn:active {
  background-color: #bd544b;
}
