.news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(156, 221, 147) 0%,
    rgba(71, 180, 199, 1) 100%
  );
}

.news-letter {
  display: flex;
  flex-direction: column;
}

.news-letter-input input {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.news-letter-input button {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #27607fb3;
  color: #fff;
  font-size: large;
  cursor: pointer;
}

.news-letter-input button:hover {
  background: #1b4157b3;
}

.news-letter-input button:active {
  background: #27607fb3;
}

.news-letter-input input:focus {
  outline: none;
}

.news-letter-input input::placeholder {
  font-size: large;
}

.news-letter-input input:focus::placeholder {
  color: transparent;
}

.news-img {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .news-container {
    flex-direction: column;
    padding: 50px;
  }

  .news-img {
    width: 100%;
  }
}
